html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("")
}

h3 {
    color:black;
}

.container {
    flex: 1 0 auto;
}

#questions {
    margin-left: 20px;
}

.btn {
    margin-bottom: 10px;
}

.white-text {
    font-size: 16px;
}

#title {
    background: lightgreen;
    padding: 10px;
}

iframe {
}

.footer {
    background: black;
    color: white;
    height: 50px;
    bottom: 0px;
    width: 100%;
    padding: 15px;
}