html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

.jumbotron {
    background:linear-gradient(skyblue, greenyellow);
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 200px;
    padding: 10px;
}

.btn {
    margin-bottom: 10px;
}

.white-text {
    font-size: 16px;
}

#title {
}

iframe {
}

.footer {
    background: black;
    color: white;
    height: 40px;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}