html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

.btn {
    margin-bottom: 10px;
}

.white-text {
    font-size: 16px;
}

#title {
    background: lightgreen;
    padding: 10px;
}

iframe {
    border: 1px black solid;
}

.footer {
    background: black;
    color: white;
    height: 40px;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}